@*
    This form can be used for creating and editing goals.
*@

<EditForm Model="Vehicle" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Makes: </label>
            <div>
                <select @bind="Vehicle.MakeId" class="form-control">
                    <option value="">-- Select Make --</option>
                    @if (Makes is not null)
                    {
                        foreach (var make in Makes)
                        {
                            <option value="@make.Id">@make.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Vehicle.ModelId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Models: </label>
            <div>
                <InputSelect @bind-Value="Vehicle.ModelId" class="form-control">
                    <option value="">-- Select Model --</option>
                    @if (Models is not null)
                    {
                        foreach (var model in Models)
                        {
                            <option value="@model.Id">@model.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Vehicle.ModelId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Colours: </label>
            <div>
                <InputSelect @bind-Value="Vehicle.ColourId" class="form-control">
                    <option value="">-- Select Colour --</option>
                    @if (Colours is not null)
                    {
                        foreach (var colour in Colours)
                        {
                            <option value="@colour.Id">@colour.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Vehicle.ColourId)" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label>Year: </label>
            <div>
                <InputNumber @bind-Value="@Vehicle.Year" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.Year)" />
            </div>
        </div>
        <div class="form-group">
            <label>License Plate Number: </label>
            <div>
                <InputText @bind-Value="@Vehicle.LicensePlateNumber" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.LicensePlateNumber)" />
            </div>
        </div>
        <div class="form-group">
            <label>Vehicle Identification Number: </label>
            <div>
                <InputText @bind-Value="@Vehicle.Vin" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.Vin)" />
            </div>
        </div>
        <div class="form-group">
            <label>Daily Rate: </label>
            <div>
                <InputNumber @bind-Value="@Vehicle.RentalRate" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.RentalRate)" />
            </div>
        </div>
    </fieldset>



    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }


    <ChangeUrl Target="vehicles" />
</EditForm>

